/* http://todc.github.com/todc-bootstrap/ */

::-moz-selection{
  background: #4a8bf4;
  color: #fff;
}

::selection{
  background: #4a8bf4;
  color: #fff;
}

.modal-body{
  padding: 10px;
}

.btn,
.btn:focus,
.btn:active,
input,
.modal-content {
  outline: none !important;
  border-radius: 0 !important;
}
button,
.btn {
  cursor: pointer !important;
  -webkit-transition: all .2s !important;
  transition: all .2s !important;
}
h5 {
  font-weight: 100;
  font-size: 13px;
  color: #999;
}
h3{
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
}
h5 .glyphicon-th{
  padding-right: 2px;
}
body {
  margin: 0 auto;
  width: 280px;
  padding: 20px;
  padding-top: 10px;
  background: #f4f6ff;
}
.page-container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}


/* 版本号 */
.base-info-icon{
  font-size: 12px;
  color: #ababab;
  transition: all .4s;
}
.base-info-icon:active{
  outline: none;
}
.base-info-icon:hover{
  text-decoration: none;
  color: #4d90fe;
}
.text-version{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #4989f1;
  font-weight: 700
}

.page-title{
  text-align: center;
  // text-shadow: 1px 0 2px #4a8bf5;
  // color: #FFF;
  color: #000;
  font-size: 24px;
}

.item {
  margin-bottom: 10px;
}
.field {
  font-weight: 700;
}
.field > span {
  padding-right: 10px;
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: 300;
}

/*右下角辅助功能*/

.group-auxiliary-box-bar {
  position: absolute;
  width: 100%;
  height: 22px;
  width: 30px;
  right: 0;
  bottom: 0;
}
.group-auxiliary-box {
  position: absolute;
  right: 0;
}

/*输入文本框*/

.inp-line-info {
  font-weight: 700;
}

/*线路列表信息*/

.line-box {
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EEE;
  font-weight: 700;
}
.line-box span {
  font-weight: 300;
}
.line-box:last-child {
  border-bottom: none;
}
.line-box p {
  margin: 0;
}


/* 添加/移出当前URL */
.op-current-url{
  position: relative;
}
.op-current-url .icon-box{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 38px;
  width: 38px;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
}

/* made by */
.made-by,
.made-by a{
  color: #CCC;
  font-weight: 100;
  font-size: 12px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.made-by{
  margin-top: 20px;
  height: 26px;
  line-height: 26px;
}
.made-by a:hover{
  color: #8a9fff;
}

/* debug-line  */
.debug-line{
  display: none;
}

/* support */
.pay-img{
  display: block;
  width: 100%;
}
.about-pay{
  color: #3078eb;
  cursor: pointer;
}

/* 冲突列表 */
.modal-conflict{
  background: #EEE;
  overflow: hidden;
  border: 1px solid #d4d4d4;
}
.conflict-title{
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 0px 10px #c7c7c7;
}
.conflict-cont{ }
.conflict-info{
  margin: 10px;
  padding-bottom: 10px;
  line-height: 140%;
  font-size: 12px;
  border-bottom: 1px solid #FFF;
}
.conflict-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #e2e2e2;
  padding: 0 10px;
}
.conflict-item:last-child{
  border: none;
}
.conflict-item .main-info{ }
.conflict-item .main-info > img{
  display: inline-block;
  width: 40px;
  height: 40px;
}
.conflict-item .btns-box button{
  margin-left: 5px;
}